<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LioniqDemoTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D20AB8F1D87D9AF002D568F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D20ABA31D87D9AF002D568F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D20ABAE1D87D9AF002D568F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
